body{

	font-family: Verdana;
	background-repeat: no-repeat;
   	overflow-x:hidden;
}

.fr{
    margin:0px;
    padding:0px;
}

.header{

	height: 150px;
    background-color: #ece7e7;
    border-bottom-width:1px;
	border-bottom-style:groove;

}

.footer{
	position: absolute; 
	bottom: 0; 
    height: 35px;
	background-color: #e3e3e3;
	width: 100%;

}

.submit-frame{
	height: 300px;
	background-color: #318487;
	color: #ffffff;
    border-radius:6px;
    box-shadow:2px 2px 1px #5a5a5a;

}

.result-frame{
    min-height: 300px;
    background-color: #318487;
    color: #ffffff;
    border-radius:6px;
    box-shadow:2px 2px 1px #5a5a5a;
    overflow:auto;
}




.frame-tab{
	
	background-color: #318487;
	color: #ffffff;

}

.header-title{

  margin-top: 56px;
  font-size: 35px;

}

.welcome-user{

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 85%;

}

.introduction{

	margin-top: 100px;
    margin-left:30px;
	font-size: 16px;

}

.tag-frame1-title{

	margin-top:50px;
    margin-left:20px;
	font-size: 26px;
	margin-bottom: 10px;	

}

.tag-frame1-subtitle{

	margin-top:30px;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 10px;

}

.tag-frame1-select{

	margin-top:30px;

}

.submit-button{
    color:black;
    height:30px;
    width:80px;
    border-radius:8px;
    background-color:white;
}